/* panelGrid.css */
.panelGrid-panel {
  position: relative;
  /* Overlay için gerekli */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.panelGrid-panel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  /* Panelin yuvarlak kenarlarını korur */
}

.panelGrid-panel-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: rgba(247, 249, 252, 0.85);
  /* Hafif saydam bir arka plan */
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
  transition: background-color 0.3s ease;
  width: 100%;
}

.panelGrid-panel-header:hover {
  background-color: rgba(226, 232, 240, 0.85);
}

.panelGrid-panel-header span {
  margin-right: 8px;
  font-size: 1.3em;
  min-height: 10px;
  transition: transform 0.3s ease;
}

.panelGrid-panel-header span.rotate {
  transform: rotate(180deg);
}

.panelGrid-panel-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  transition: max-height 0.5s ease, padding 0.5s ease;
  overflow: hidden;
}

.hidden {
  height: 0px;
  padding: 0;
}

.panelGrid-panel-header span.toggle-icon {
  margin-right: 8px;
  font-size: 1.3em;
  transition: transform 0.3s ease, color 0.3s ease;
}