.label {
    margin-bottom: 8px; 
    margin-left: 10px;
}

.input {
    border-radius: 4px;
    width: 10%;
    padding: 2px; 
    margin-left: 10px;
    border: 1px solid #ccc; /* Border rengi */
    outline: none; /* Input alanına tıklandığında outline eklenmesin */    
    font-size: 16px;
}