.shadow-sm { box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075); } /* Küçük gölge */
.shadow { box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15); } /* Orta boy gölge */
.shadow-lg { box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); } /* Büyük gölge */
.shadow-none { box-shadow: none; } /* Gölgeyi kaldırır */
