                                                    /* MARGIN  */
.m-1 { margin: 1px; }
.m-2 { margin: 2px; }
.m-3 { margin: 3px; }
.m-4 { margin: 4px; }
.m-5 { margin: 5px; }
.m-6 { margin: 6px; }
.m-7 { margin: 7px; }
.m-8 { margin: 8px; }
.m-9 { margin: 9px; }
.m-10 { margin: 10px; }
.m-11 { margin: 11px; }
.m-12 { margin: 12px; }
.m-13 { margin: 13px; }
.m-14 { margin: 14px; }
.m-15 { margin: 15px; }
.m-16 { margin: 16px; }
.m-17 { margin: 17px; }
.m-18 { margin: 18px; }
.m-19 { margin: 19px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }
.m-30 { margin: 30px; }
.m-35 { margin: 35px; }
.m-40 { margin: 40px; }
.m-45 { margin: 45px; }
.m-50 { margin: 50px; }
.m-55 { margin: 55px; }
.m-60 { margin: 60px; }
.m-65 { margin: 65px; }
.m-70 { margin: 70px; }
.m-75 { margin: 75px; }
.m-80 { margin: 80px; }
.m-85 { margin: 85px; }
.m-90 { margin: 90px; }
.m-95 { margin: 95px; }
.m-100 { margin: 100px; }
.m-105 { margin: 105px; }
.m-110 { margin: 110px; }
.m-115 { margin: 115px; }
.m-120 { margin: 120px; }
.m-125 { margin: 125px; }
.m-130 { margin: 130px; }
.m-135 { margin: 135px; }
.m-140 { margin: 140px; }
.m-145 { margin: 145px; }
.m-150 { margin: 150px; }
.m-155 { margin: 155px; }
.m-160 { margin: 160px; }
.m-165 { margin: 165px; }
.m-170 { margin: 170px; }
.m-175 { margin: 175px; }
.m-180 { margin: 180px; }
.m-185 { margin: 185px; }
.m-190 { margin: 190px; }
.m-195 { margin: 195px; }
.m-200 { margin: 200px; }
                                                    
/* MARGIN TOP */
.mt-1 { margin-top: 1px; }
.mt-2 { margin-top: 2px; }
.mt-3 { margin-top: 3px; }
.mt-4 { margin-top: 4px; }
.mt-5 { margin-top: 5px; }
.mt-6 { margin-top: 6px; }
.mt-7 { margin-top: 7px; }
.mt-8 { margin-top: 8px; }
.mt-9 { margin-top: 9px; }
.mt-10 { margin-top: 10px; }
.mt-11 { margin-top: 11px; }
.mt-12 { margin-top: 12px; }
.mt-13 { margin-top: 13px; }
.mt-14 { margin-top: 14px; }
.mt-15 { margin-top: 15px; }
.mt-16 { margin-top: 16px; }
.mt-17 { margin-top: 17px; }
.mt-18 { margin-top: 18px; }
.mt-19 { margin-top: 19px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; }
.mt-45 { margin-top: 45px; }
.mt-50 { margin-top: 50px; }
.mt-55 { margin-top: 55px; }
.mt-60 { margin-top: 60px; }
.mt-65 { margin-top: 65px; }
.mt-70 { margin-top: 70px; }
.mt-75 { margin-top: 75px; }
.mt-80 { margin-top: 80px; }
.mt-85 { margin-top: 85px; }
.mt-90 { margin-top: 90px; }
.mt-95 { margin-top: 95px; }
.mt-100 { margin-top: 100px; }
.mt-105 { margin-top: 105px; }
.mt-110 { margin-top: 110px; }
.mt-115 { margin-top: 115px; }
.mt-120 { margin-top: 120px; }
.mt-125 { margin-top: 125px; }
.mt-130 { margin-top: 130px; }
.mt-135 { margin-top: 135px; }
.mt-140 { margin-top: 140px; }
.mt-145 { margin-top: 145px; }
.mt-150 { margin-top: 150px; }
.mt-155 { margin-top: 155px; }
.mt-160 { margin-top: 160px; }
.mt-165 { margin-top: 165px; }
.mt-170 { margin-top: 170px; }
.mt-175 { margin-top: 175px; }
.mt-180 { margin-top: 180px; }
.mt-185 { margin-top: 185px; }
.mt-190 { margin-top: 190px; }
.mt-195 { margin-top: 195px; }
.mt-200 { margin-top: 200px; }

/* MARGIN LEFT */
.ml-1 { margin-left: 1px; }
.ml-2 { margin-left: 2px; }
.ml-3 { margin-left: 3px; }
.ml-4 { margin-left: 4px; }
.ml-5 { margin-left: 5px; }
.ml-6 { margin-left: 6px; }
.ml-7 { margin-left: 7px; }
.ml-8 { margin-left: 8px; }
.ml-9 { margin-left: 9px; }
.ml-10 { margin-left: 10px; }
.ml-11 { margin-left: 11px; }
.ml-12 { margin-left: 12px; }
.ml-13 { margin-left: 13px; }
.ml-14 { margin-left: 14px; }
.ml-15 { margin-left: 15px; }
.ml-16 { margin-left: 16px; }
.ml-17 { margin-left: 17px; }
.ml-18 { margin-left: 18px; }
.ml-19 { margin-left: 19px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-45 { margin-left: 45px; }
.ml-50 { margin-left: 50px; }
.ml-55 { margin-left: 55px; }
.ml-60 { margin-left: 60px; }
.ml-65 { margin-left: 65px; }
.ml-70 { margin-left: 70px; }
.ml-75 { margin-left: 75px; }
.ml-80 { margin-left: 80px; }
.ml-85 { margin-left: 85px; }
.ml-90 { margin-left: 90px; }
.ml-95 { margin-left: 95px; }
.ml-100 { margin-left: 100px; }
.ml-105 { margin-left: 105px; }
.ml-110 { margin-left: 110px; }
.ml-115 { margin-left: 115px; }
.ml-120 { margin-left: 120px; }
.ml-125 { margin-left: 125px; }
.ml-130 { margin-left: 130px; }
.ml-135 { margin-left: 135px; }
.ml-140 { margin-left: 140px; }
.ml-145 { margin-left: 145px; }
.ml-150 { margin-left: 150px; }
.ml-155 { margin-left: 155px; }
.ml-160 { margin-left: 160px; }
.ml-165 { margin-left: 165px; }
.ml-170 { margin-left: 170px; }
.ml-175 { margin-left: 175px; }
.ml-180 { margin-left: 180px; }
.ml-185 { margin-left: 185px; }
.ml-190 { margin-left: 190px; }
.ml-195 { margin-left: 195px; }
.ml-200 { margin-left: 200px; }

/* MARGIN RIGHT */
.mr-1 { margin-right: 1px; }
.mr-2 { margin-right: 2px; }
.mr-3 { margin-right: 3px; }
.mr-4 { margin-right: 4px; }
.mr-5 { margin-right: 5px; }
.mr-6 { margin-right: 6px; }
.mr-7 { margin-right: 7px; }
.mr-8 { margin-right: 8px; }
.mr-9 { margin-right: 9px; }
.mr-10 { margin-right: 10px; }
.mr-11 { margin-right: 11px; }
.mr-12 { margin-right: 12px; }
.mr-13 { margin-right: 13px; }
.mr-14 { margin-right: 14px; }
.mr-15 { margin-right: 15px; }
.mr-16 { margin-right: 16px; }
.mr-17 { margin-right: 17px; }
.mr-18 { margin-right: 18px; }
.mr-19 { margin-right: 19px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-45 { margin-right: 45px; }
.mr-50 { margin-right: 50px; }
.mr-55 { margin-right: 55px; }
.mr-60 { margin-right: 60px; }
.mr-65 { margin-right: 65px; }
.mr-70 { margin-right: 70px; }
.mr-75 { margin-right: 75px; }
.mr-80 { margin-right: 80px; }
.mr-85 { margin-right: 85px; }
.mr-90 { margin-right: 90px; }
.mr-95 { margin-right: 95px; }
.mr-100 { margin-right: 100px; }
.mr-105 { margin-right: 105px; }
.mr-110 { margin-right: 110px; }
.mr-115 { margin-right: 115px; }
.mr-120 { margin-right: 120px; }
.mr-125 { margin-right: 125px; }
.mr-130 { margin-right: 130px; }
.mr-135 { margin-right: 135px; }
.mr-140 { margin-right: 140px; }
.mr-145 { margin-right: 145px; }
.mr-150 { margin-right: 150px; }
.mr-155 { margin-right: 155px; }
.mr-160 { margin-right: 160px; }
.mr-165 { margin-right: 165px; }
.mr-170 { margin-right: 170px; }
.mr-175 { margin-right: 175px; }
.mr-180 { margin-right: 180px; }
.mr-185 { margin-right: 185px; }
.mr-190 { margin-right: 190px; }
.mr-195 { margin-right: 195px; }
.mr-200 { margin-right: 200px; }

/* MARGIN BOTTOM */
.mb-1 { margin-bottom: 1px; }
.mb-2 { margin-bottom: 2px; }
.mb-3 { margin-bottom: 3px; }
.mb-4 { margin-bottom: 4px; }
.mb-5 { margin-bottom: 5px; }
.mb-6 { margin-bottom: 6px; }
.mb-7 { margin-bottom: 7px; }
.mb-8 { margin-bottom: 8px; }
.mb-9 { margin-bottom: 9px; }
.mb-10 { margin-bottom: 10px; }
.mb-11 { margin-bottom: 11px; }
.mb-12 { margin-bottom: 12px; }
.mb-13 { margin-bottom: 13px; }
.mb-14 { margin-bottom: 14px; }
.mb-15 { margin-bottom: 15px; }
.mb-16 { margin-bottom: 16px; }
.mb-17 { margin-bottom: 17px; }
.mb-18 { margin-bottom: 18px; }
.mb-19 { margin-bottom: 19px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }
.mb-45 { margin-bottom: 45px; }
.mb-50 { margin-bottom: 50px; }
.mb-55 { margin-bottom: 55px; }
.mb-60 { margin-bottom: 60px; }
.mb-65 { margin-bottom: 65px; }
.mb-70 { margin-bottom: 70px; }
.mb-75 { margin-bottom: 75px; }
.mb-80 { margin-bottom: 80px; }
.mb-85 { margin-bottom: 85px; }
.mb-90 { margin-bottom: 90px; }
.mb-95 { margin-bottom: 95px; }
.mb-100 { margin-bottom: 100px; }
.mb-105 { margin-bottom: 105px; }
.mb-110 { margin-bottom: 110px; }
.mb-115 { margin-bottom: 115px; }
.mb-120 { margin-bottom: 120px; }
.mb-125 { margin-bottom: 125px; }
.mb-130 { margin-bottom: 130px; }
.mb-135 { margin-bottom: 135px; }
.mb-140 { margin-bottom: 140px; }
.mb-145 { margin-bottom: 145px; }
.mb-150 { margin-bottom: 150px; }
.mb-155 { margin-bottom: 155px; }
.mb-160 { margin-bottom: 160px; }
.mb-165 { margin-bottom: 165px; }
.mb-170 { margin-bottom: 170px; }
.mb-175 { margin-bottom: 175px; }
.mb-180 { margin-bottom: 180px; }
.mb-185 { margin-bottom: 185px; }
.mb-190 { margin-bottom: 190px; }
.mb-195 { margin-bottom: 195px; }
.mb-200 { margin-bottom: 200px; }



                                                /* MARGIN FOR PERCENTAGE */
.mt-pct-1 { margin-top: 1%; }
.mt-pct-2 { margin-top: 2%; }
.mt-pct-3 { margin-top: 3%; }
.mt-pct-4 { margin-top: 4%; }
.mt-pct-5 { margin-top: 5%; }
.mt-pct-6 { margin-top: 6%; }
.mt-pct-7 { margin-top: 7%; }
.mt-pct-8 { margin-top: 8%; }
.mt-pct-9 { margin-top: 9%; }
.mt-pct-10 { margin-top: 10%; }
.mt-pct-11 { margin-top: 11%; }
.mt-pct-12 { margin-top: 12%; }
.mt-pct-13 { margin-top: 13%; }
.mt-pct-14 { margin-top: 14%; }
.mt-pct-15 { margin-top: 15%; }
.mt-pct-16 { margin-top: 16%; }
.mt-pct-17 { margin-top: 17%; }
.mt-pct-18 { margin-top: 18%; }
.mt-pct-19 { margin-top: 19%; }
.mt-pct-20 { margin-top: 20%; }
.mt-pct-25 { margin-top: 25%; }
.mt-pct-30 { margin-top: 30%; }
.mt-pct-35 { margin-top: 35%; }
.mt-pct-40 { margin-top: 40%; }
.mt-pct-45 { margin-top: 45%; }
.mt-pct-50 { margin-top: 50%; }
.mt-pct-55 { margin-top: 55%; }
.mt-pct-60 { margin-top: 60%; }
.mt-pct-65 { margin-top: 65%; }
.mt-pct-70 { margin-top: 70%; }
.mt-pct-75 { margin-top: 75%; }
.mt-pct-80 { margin-top: 80%; }
.mt-pct-85 { margin-top: 85%; }
.mt-pct-90 { margin-top: 90%; }
.mt-pct-95 { margin-top: 95%; }
.mt-pct-100 { margin-top: 100%; }

.ml-pct-1 { margin-left: 1%; }
.ml-pct-2 { margin-left: 2%; }
.ml-pct-3 { margin-left: 3%; }
.ml-pct-4 { margin-left: 4%; }
.ml-pct-5 { margin-left: 5%; }
.ml-pct-6 { margin-left: 6%; }
.ml-pct-7 { margin-left: 7%; }
.ml-pct-8 { margin-left: 8%; }
.ml-pct-9 { margin-left: 9%; }
.ml-pct-10 { margin-left: 10%; }
.ml-pct-11 { margin-left: 11%; }
.ml-pct-12 { margin-left: 12%; }
.ml-pct-13 { margin-left: 13%; }
.ml-pct-14 { margin-left: 14%; }
.ml-pct-15 { margin-left: 15%; }
.ml-pct-16 { margin-left: 16%; }
.ml-pct-17 { margin-left: 17%; }
.ml-pct-18 { margin-left: 18%; }
.ml-pct-19 { margin-left: 19%; }
.ml-pct-20 { margin-left: 20%; }
.ml-pct-25 { margin-left: 25%; }
.ml-pct-30 { margin-left: 30%; }
.ml-pct-35 { margin-left: 35%; }
.ml-pct-40 { margin-left: 40%; }
.ml-pct-45 { margin-left: 45%; }
.ml-pct-50 { margin-left: 50%; }
.ml-pct-55 { margin-left: 55%; }
.ml-pct-60 { margin-left: 60%; }
.ml-pct-65 { margin-left: 65%; }
.ml-pct-70 { margin-left: 70%; }
.ml-pct-75 { margin-left: 75%; }
.ml-pct-80 { margin-left: 80%; }
.ml-pct-85 { margin-left: 85%; }
.ml-pct-90 { margin-left: 90%; }
.ml-pct-95 { margin-left: 95%; }
.ml-pct-100 { margin-left: 100%; }
.mr-pct-1 { margin-right: 1%; }
.mr-pct-2 { margin-right: 2%; }
.mr-pct-3 { margin-right: 3%; }
.mr-pct-4 { margin-right: 4%; }
.mr-pct-5 { margin-right: 5%; }
.mr-pct-6 { margin-right: 6%; }
.mr-pct-7 { margin-right: 7%; }
.mr-pct-8 { margin-right: 8%; }
.mr-pct-9 { margin-right: 9%; }
.mr-pct-10 { margin-right: 10%; }
.mr-pct-11 { margin-right: 11%; }
.mr-pct-12 { margin-right: 12%; }
.mr-pct-13 { margin-right: 13%; }
.mr-pct-14 { margin-right: 14%; }
.mr-pct-15 { margin-right: 15%; }
.mr-pct-16 { margin-right: 16%; }
.mr-pct-17 { margin-right: 17%; }
.mr-pct-18 { margin-right: 18%; }
.mr-pct-19 { margin-right: 19%; }
.mr-pct-20 { margin-right: 20%; }
.mr-pct-25 { margin-right: 25%; }
.mr-pct-30 { margin-right: 30%; }
.mr-pct-35 { margin-right: 35%; }
.mr-pct-40 { margin-right: 40%; }
.mr-pct-45 { margin-right: 45%; }
.mr-pct-50 { margin-right: 50%; }
.mr-pct-55 { margin-right: 55%; }
.mr-pct-60 { margin-right: 60%; }
.mr-pct-65 { margin-right: 65%; }
.mr-pct-70 { margin-right: 70%; }
.mr-pct-75 { margin-right: 75%; }
.mr-pct-80 { margin-right: 80%; }
.mr-pct-85 { margin-right: 85%; }
.mr-pct-90 { margin-right: 90%; }
.mr-pct-95 { margin-right: 95%; }
.mr-pct-100 { margin-right: 100%; }
.mb-pct-1 { margin-bottom: 1%; }
.mb-pct-2 { margin-bottom: 2%; }
.mb-pct-3 { margin-bottom: 3%; }
.mb-pct-4 { margin-bottom: 4%; }
.mb-pct-5 { margin-bottom: 5%; }
.mb-pct-6 { margin-bottom: 6%; }
.mb-pct-7 { margin-bottom: 7%; }
.mb-pct-8 { margin-bottom: 8%; }
.mb-pct-9 { margin-bottom: 9%; }
.mb-pct-10 { margin-bottom: 10%; }
.mb-pct-11 { margin-bottom: 11%; }
.mb-pct-12 { margin-bottom: 12%; }
.mb-pct-13 { margin-bottom: 13%; }
.mb-pct-14 { margin-bottom: 14%; }
.mb-pct-15 { margin-bottom: 15%; }
.mb-pct-16 { margin-bottom: 16%; }
.mb-pct-17 { margin-bottom: 17%; }
.mb-pct-18 { margin-bottom: 18%; }
.mb-pct-19 { margin-bottom: 19%; }
.mb-pct-20 { margin-bottom: 20%; }
.mb-pct-25 { margin-bottom: 25%; }
.mb-pct-30 { margin-bottom: 30%; }
.mb-pct-35 { margin-bottom: 35%; }
.mb-pct-40 { margin-bottom: 40%; }
.mb-pct-45 { margin-bottom: 45%; }
.mb-pct-50 { margin-bottom: 50%; }
.mb-pct-55 { margin-bottom: 55%; }
.mb-pct-60 { margin-bottom: 60%; }
.mb-pct-65 { margin-bottom: 65%; }
.mb-pct-70 { margin-bottom: 70%; }
.mb-pct-75 { margin-bottom: 75%; }
.mb-pct-80 { margin-bottom: 80%; }
.mb-pct-85 { margin-bottom: 85%; }
.mb-pct-90 { margin-bottom: 90%; }
.mb-pct-95 { margin-bottom: 95%; }
.mb-pct-100 { margin-bottom: 100%; }
.m-pct-1 { margin: 1%; }
.m-pct-2 { margin: 2%; }
.m-pct-3 { margin: 3%; }
.m-pct-4 { margin: 4%; }
.m-pct-5 { margin: 5%; }
.m-pct-6 { margin: 6%; }
.m-pct-7 { margin: 7%; }
.m-pct-8 { margin: 8%; }
.m-pct-9 { margin: 9%; }
.m-pct-10 { margin: 10%; }
.m-pct-11 { margin: 11%; }
.m-pct-12 { margin: 12%; }
.m-pct-13 { margin: 13%; }
.m-pct-14 { margin: 14%; }
.m-pct-15 { margin: 15%; }
.m-pct-16 { margin: 16%; }
.m-pct-17 { margin: 17%; }
.m-pct-18 { margin: 18%; }
.m-pct-19 { margin: 19%; }
.m-pct-20 { margin: 20%; }
.m-pct-25 { margin: 25%; }
.m-pct-30 { margin: 30%; }
.m-pct-35 { margin: 35%; }
.m-pct-40 { margin: 40%; }
.m-pct-45 { margin: 45%; }
.m-pct-50 { margin: 50%; }
.m-pct-55 { margin: 55%; }
.m-pct-60 { margin: 60%; }
.m-pct-65 { margin: 65%; }
.m-pct-70 { margin: 70%; }
.m-pct-75 { margin: 75%; }
.m-pct-80 { margin: 80%; }
.m-pct-85 { margin: 85%; }
.m-pct-90 { margin: 90%; }
.m-pct-95 { margin: 95%; }
.m-pct-100 { margin: 100%; }


