.text-aliceblue { color: aliceblue; }
.text-antiquewhite { color: antiquewhite; }
.text-aqua { color: aqua; }
.text-aquamarine { color: aquamarine; }
.text-azure { color: azure; }
.text-beige { color: beige; }
.text-bisque { color: bisque; }
.text-black { color: black; }
.text-blanchedalmond { color: blanchedalmond; }
.text-blue { color: blue; }
.text-blueviolet { color: blueviolet; }
.text-brown { color: brown; }
.text-burlywood { color: burlywood; }
.text-cadetblue { color: cadetblue; }
.text-chartreuse { color: chartreuse; }
.text-chocolate { color: chocolate; }
.text-coral { color: coral; }
.text-cornflowerblue { color: cornflowerblue; }
.text-cornsilk { color: cornsilk; }
.text-crimson { color: crimson; }
.text-cyan { color: cyan; }
.text-darkblue { color: darkblue; }
.text-darkcyan { color: darkcyan; }
.text-darkgoldenrod { color: darkgoldenrod; }
.text-darkgray { color: darkgray; }
.text-darkgreen { color: darkgreen; }
.text-darkkhaki { color: darkkhaki; }
.text-darkmagenta { color: darkmagenta; }
.text-darkolivegreen { color: darkolivegreen; }
.text-darkorange { color: darkorange; }
.text-darkorchid { color: darkorchid; }
.text-darkred { color: darkred; }
.text-darksalmon { color: darksalmon; }
.text-darkseagreen { color: darkseagreen; }
.text-darkslateblue { color: darkslateblue; }
.text-darkslategray { color: darkslategray; }
.text-darkturquoise { color: darkturquoise; }
.text-darkviolet { color: darkviolet; }
.text-deeppink { color: deeppink; }
.text-deepskyblue { color: deepskyblue; }
.text-dimgray { color: dimgray; }
.text-dodgerblue { color: dodgerblue; }
.text-firebrick { color: firebrick; }
.text-floralwhite { color: floralwhite; }
.text-forestgreen { color: forestgreen; }
.text-fuchsia { color: fuchsia; }
.text-gainsboro { color: gainsboro; }
.text-ghostwhite { color: ghostwhite; }
.text-gold { color: gold; }
.text-goldenrod { color: goldenrod; }
.text-gray { color: gray; }
.text-green { color: green; }
.text-greenyellow { color: greenyellow; }
.text-honeydew { color: honeydew; }
.text-hotpink { color: hotpink; }
.text-indianred { color: indianred; }
.text-indigo { color: indigo; }
.text-ivory { color: ivory; }
.text-khaki { color: khaki; }
.text-lavender { color: lavender; }
.text-lavenderblush { color: lavenderblush; }
.text-lawngreen { color: lawngreen; }
.text-lemonchiffon { color: lemonchiffon; }
.text-lightblue { color: lightblue; }
.text-lightcoral { color: lightcoral; }
.text-lightcyan { color: lightcyan; }
.text-lightgoldenrodyellow { color: lightgoldenrodyellow; }
.text-lightgray { color: lightgray; }
.text-lightgreen { color: lightgreen; }
.text-lightpink { color: lightpink; }
.text-lightsalmon { color: lightsalmon; }
.text-lightseagreen { color: lightseagreen; }
.text-lightskyblue { color: lightskyblue; }
.text-lightslategray { color: lightslategray; }
.text-lightsteelblue { color: lightsteelblue; }
.text-lightyellow { color: lightyellow; }
.text-lime { color: lime; }
.text-limegreen { color: limegreen; }
.text-linen { color: linen; }
.text-magenta { color: magenta; }
.text-maroon { color: maroon; }
.text-mediumaquamarine { color: mediumaquamarine; }
.text-mediumblue { color: mediumblue; }
.text-mediumorchid { color: mediumorchid; }
.text-mediumpurple { color: mediumpurple; }
.text-mediumseagreen { color: mediumseagreen; }
.text-mediumslateblue { color: mediumslateblue; }
.text-mediumspringgreen { color: mediumspringgreen; }
.text-mediumturquoise { color: mediumturquoise; }
.text-mediumvioletred { color: mediumvioletred; }
.text-midnightblue { color: midnightblue; }
.text-mintcream { color: mintcream; }
.text-mistyrose { color: mistyrose; }
.text-moccasin { color: moccasin; }
.text-navajowhite { color: navajowhite; }
.text-navy { color: navy; }
.text-oldlace { color: oldlace; }
.text-olive { color: olive; }
.text-olivedrab { color: olivedrab; }
.text-orange { color: orange; }
.text-orangered { color: orangered; }
.text-orchid { color: orchid; }
.text-palegoldenrod { color: palegoldenrod; }
.text-palegreen { color: palegreen; }
.text-paleturquoise { color: paleturquoise; }
.text-palevioletred { color: palevioletred; }
.text-papayawhip { color: papayawhip; }
.text-peachpuff { color: peachpuff; }
.text-peru { color: peru; }
.text-pink { color: pink; }
.text-plum { color: plum; }
.text-powderblue { color: powderblue; }
.text-purple { color: purple; }
.text-rebeccapurple { color: rebeccapurple; }
.text-red { color: red; }
.text-rosybrown { color: rosybrown; }
.text-royalblue { color: royalblue; }
.text-saddlebrown { color: saddlebrown; }
.text-salmon { color: salmon; }
.text-sandybrown { color: sandybrown; }
.text-seagreen { color: seagreen; }
.text-seashell { color: seashell; }
.text-sienna { color: sienna; }
.text-silver { color: silver; }
.text-skyblue { color: skyblue; }
.text-slateblue { color: slateblue; }
.text-slategray { color: slategray; }
.text-snow { color: snow; }
.text-springgreen { color: springgreen; }
.text-steelblue { color: steelblue; }
.text-tan { color: tan; }
.text-teal { color: teal; }
.text-thistle { color: thistle; }
.text-tomato { color: tomato; }
.text-turquoise { color: turquoise; }
.text-violet { color: violet; }
.text-wheat { color: wheat; }
.text-white { color: white; }
.text-whitesmoke { color: whitesmoke; }
.text-yellow { color: yellow; }
.text-yellowgreen { color: yellowgreen; }
