/* form.css */
.form-panel {
    position: relative; /* Overlay için gerekli */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .form-panel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Panelin yuvarlak kenarlarını korur */
  }
  
  .form-panel-header {
    position: relative;
    z-index: 2; /* Overlay'in üstünde görünmesi için */
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgba(247, 249, 252, 0.85); /* Hafif saydam bir arka plan */
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .form-panel-header:hover {
    background-color: rgba(226, 232, 240, 0.85);
  }
  
  .form-panel-header span {
    margin-right: 8px;
    font-size: 1.3em;
    transition: transform 0.3s ease;
  }
  
  .form-panel-header span.rotate {
    transform: rotate(180deg);
  }
  
  .form-panel-content {
    position: relative;
    z-index: 2; /* Overlay'in üstünde görünmesi için */
    padding: 20px;
    transition: max-height 0.5s ease;
    overflow: hidden;
  }
  
  .hidden {
    max-height: 0;
    padding: 0;
  }
  